<!-- Left pane -->
<div
  class='col-lg-1 col-sm-2'
  style='background-color: #a0a0a0; padding: 0px 0px 0px 0px;'>
  
  <!-- Logo -->
  <div
    class='container'
    style='padding: 10px 0px 0px 5px'>
    
    <span
      class='glyphicon glyphicon-grain'
      style='font-size: 30px; color: #30ff30;'>
    </span>
    <span style='font-size: 14px;'>
      <font size="+2"><b><i>F</i></b></font>orce<font size="+2"><b><i>F</i></b></font>eed
    </span>
  </div>
  <!-- Submitters list -->
  <!--<div>-->
    <submitterList (SelectionChanged)='onSubmitterSelectionChanged( $event )'></submitterList>
  <!--</div>-->
</div>
<!-- Right pane -->
<div
  class='container col-lg-offset-0 col-lg-11 col-sm-10'
  style='padding: 20px 0px 0px 0px'>

  <!-- Changelists -->
  <div
    style='padding: 0px 0px 0px 0px;'
    class='container'>

    <!-- Changelists header -->
    <div
      class="container"
      style='padding: 0px 0px 5px 0px;'>
      
      <div class="row" style="text-align: left;">
        <!-- Warning - changelists will not be refreshed... -->
        <div class="col-lg-10 col-sm-8">
          <span
            style='cursor: pointer;'
            (click)='refresh()'>

            <i class='glyphicon glyphicon-refresh'></i>
            <span
              class='text-center'
              style='color: #606060;'
              *ngIf='_isAnyChangelistComponentExpanded == true'>
                Changelists will not be automatically refreshed while any changelist is expanded.
            </span>
          </span>
        </div>
        <!-- Changelist pagination -->
        <div class="col-lg-2 col-sm-4" style="text-align: right;">
          <span
            style='text-align: center;'>

            <!-- First -->
            <span
              style='cursor: pointer; font-size: 110%;'
              (click)='paginationOnFirstClick()'>
              
              <i class='glyphicon glyphicon-fast-backward'></i>
            </span>
            <!-- Previous -->
            <span
              style='cursor: pointer; font-size: 110%;'
              (click)='paginationOnPreviousClick()'>
              
              <i class='glyphicon glyphicon-step-backward'></i>
            </span>
            <!-- Text ( e.g. 1 to 30 ) -->
            <span
              style='align-text: center; font-size: 110%;'>
              {{ _paginationText }}
            </span>
            <!-- Next -->
            <span
              style='cursor: pointer; font-size: 110%;'
              (click)='paginationOnNextClick()'>
              
              <i class='glyphicon glyphicon-step-forward'></i>
            </span>
            <!-- View less -->
            <span
              style='cursor: pointer; font-size: 110%;'
              (click)='paginationOnLessClick()'>
              
              <i class='glyphicon glyphicon-minus-sign'></i>
            </span>
            <!-- View more -->
            <span
              style='cursor: pointer; font-size: 110%;'
              (click)='paginationOnMoreClick()'>
              
              <i class='glyphicon glyphicon-plus-sign'></i>
            </span>
          </span>
        </div>
      </div>
    </div>
    <!-- Changelists -->
    <div
      class='container'
      *ngFor='let changelistData of _changelistDatas'>
        <changelist [data]='changelistData'></changelist>
    </div>
    <!-- Changelist pagination -->
    <div style="text-align: right; text-align: right; padding: 5px 0px 0px 0px;">
      <span style='text-align: center;'>
        <!-- First -->
        <span
          style='cursor: pointer; font-size: 110%;'
          (click)='paginationOnFirstClick()'>
          
          <i class='glyphicon glyphicon-fast-backward'></i>
        </span>
        <!-- Previous -->
        <span
          style='cursor: pointer; font-size: 110%;'
          (click)='paginationOnPreviousClick()'>
          
          <i class='glyphicon glyphicon-step-backward'></i>
        </span>
        <!-- Text ( e.g. 1 to 30 ) -->
        <span
          style='align-text: center; font-size: 110%;'>
          {{ _paginationText }}
        </span>
        <!-- Next -->
        <span
          style='cursor: pointer; font-size: 110%;'
          (click)='paginationOnNextClick()'>
          
          <i class='glyphicon glyphicon-step-forward'></i>
        </span>
        <!-- View less -->
        <span
          style='cursor: pointer; font-size: 110%;'
          (click)='paginationOnLessClick()'>
          
          <i class='glyphicon glyphicon-minus-sign'></i>
        </span>
        <!-- View more -->
        <span
          style='cursor: pointer; font-size: 110%;'
          (click)='paginationOnMoreClick()'>
          
          <i class='glyphicon glyphicon-plus-sign'></i>
        </span>
      </span>
    </div>
  </div>
</div>