<div>
  <div
    class="row"
    style='cursor: pointer;'
    (click)='onClick()'>
    
    <div class="col-lg-1 col-sm-1"><b>{{ data.id }}</b></div>
    <div class="col-lg-2 col-sm-2">{{ data.timestamp }}</div>
    <div class="col-lg-1 col-sm-1"><b>{{ data.submitter }}</b></div>
    <div class="col-lg-7 col-sm-7">{{ data.description  | autoEllipses: _isExpanded ? -1 : 80 : false }}</div>
    <div class="col-lg-1 col-sm-1">
      <i
        class="pull-right glyphicon"
        [ngClass]="
        {
          'glyphicon-chevron-down': !_isExpanded,
          'glyphicon-chevron-up': _isExpanded
        }">
      </i>
    </div>
  </div>
  <div class="row">
    <div *ngFor="let file of data.files">
      <div *ngIf="_isExpanded">
        <div class="col-lg-12 col-sm-12">
          <fileVersionViewer
            [Filename]="file.filename">
          </fileVersionViewer>
        </div>
      </div>
    </div>
  </div>
</div>