<div>
  <div
    class="row"
    style='cursor: pointer;'
    (click)='onClick()'>
    
    <div class="col-lg-1 col-sm-1"><b>{{ data.id }}</b></div>
    <div class="col-lg-2 col-sm-2">
      <font size="-1">{{ data.timestamp }}</font>
    </div>
    <div class="col-lg-1 col-sm-1"><b>{{ data.submitter }}</b></div>
    <div class="col-lg-6 col-sm-6">{{ data.description  | autoEllipses: _isExpanded ? -1 : 70 : false }}</div>
    <div class="col-lg-1 col-sm-1">
      <font size="-2">
        <span style="color: #00a000;">+{{ data.totalAdditions }}</span>
        <span style="color: #ff0000;">-{{ data.totalDeletions }}</span>
        <span style="color: #aa00ff;">~{{ data.totalChanges }}</span>
      </font>
    </div>
    <div class="col-lg-1 col-sm-1">
      <i
        class="pull-right glyphicon"
        [ngClass]="
        {
          'glyphicon-chevron-down': !_isExpanded,
          'glyphicon-chevron-up': _isExpanded
        }">
      </i>
    </div>
  </div>
  <div class="row">
    <div *ngFor="let file of data.files">
      <div *ngIf="_isExpanded">
        <div class="col-lg-12 col-sm-12">
          <fileVersionViewer
            [Filename]="file.filename">
          </fileVersionViewer>
        </div>
      </div>
    </div>
  </div>
</div>