<div (click)='onClick()'>
  <table
    width="80%"
    align="center"
    border="0px"
    class="table-hover">
    <!-- Changelist detail row -->
    <tr>
      <td width="10%"><b>{{ data.id }}</b></td>
      <td width="20%"><b>{{ data.username }}</b></td>
      <td width="50%">{{ data.description }}</td>
      <td width="15%">{{ data.timestamp }}</td>
      <td width="5%">
        <i
          class="pull-right glyphicon"
          [ngClass]="
          {
            'glyphicon-chevron-down': !_isExpanded,
            'glyphicon-chevron-up': _isExpanded
          }">
        </i>
      </td>
    </tr>
    <!-- Changelist files rows -->
    <tr *ngFor='#file of data.files'>
      <td *ngIf='_isExpanded' colspan="5">{{ file.filename }} ({{ file.revision }})</td>
    </tr>
  </table>
</div>